<div class="panel panel-info" ng-repeat="station in stations">
  <div class="panel-heading">
    <h3>Station {{$index+1}}</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="nav nav-justified">
        <label for="als-name">ALS Name:</label>
        <p id="als-name">{{station.name}}</p>
        <label for="als-time">Working time:</label>
        <p id="als-time">{{station.estimated_time}}</p>
        <label for="als-comp">Components</label>
        <p id="als-comp">{{station.componentName}}</p>
      </div>
    </div>
  </div>
</div>

<form name='stationsForm' role="form">
  <div class="form-group">
    <label for="name">Name of Station</label>
    <input class="form-control" type="text" id="name" placeholder="Enter the name of the Station" ng-model="name" value="name">
  </div>

  <div class="form-group">
    <label for="time">Working time</label>
    <input class="form-control" type="text" id="time" placeholder="Enter the amount of time" ng-model="time" value="time">
  </div>

  <div class="form-group">
    <label for="component">Select Component</label>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" placeholder="select a component for the station" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          {{componentName}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="component in components" role="presentation"><a role="menuitem" tabindex="-1" ng-click = "selectComponent(component)">{{component.name}}</a></li>
        </ul>
      </div>
  </div>


  <div class="form-group">
    <button class="btn btn-default pull-right" ng-click="addStation()">
      Add Station
    </button>
  </div>
</form>
