<div class="panel panel-info input-group" ng-repeat="station in stations" style="width: 100%;">
  <div class="panel-body">
    <h3>Station {{station.id}}</h3>
    <label for="als-name">ALS Name</label>
    <p id="als-name">{{station.name}}</p>
    <label for="als-time">Working time</label>
    <p id="als-time">{{station.estimated_time}}</p>
  </div>
</div>

<form name='stationsForm' role="form">

  <div class="form-group">
    <label for="name">Name of Station</label>
    <input class="form-control" type="text" id="name" placeholder="Enter the name of the Station" ng-model="name" value="name">
  </div>

  <div class="form-group">
    <label for="time">Working time</label>
    <input class="form-control" type="text" id="time" placeholder="Enter the amount of time" ng-model="time" value="time">
  </div>

  <div class="form-group">
    <button class="btn btn-default pull-right" ng-click="addStation()">
      Add Station
    </button>
  </div>
</form>
