<p>
  <b>We are in the assembly line called {{assemblyLineInfo.name}}</p>
</p>

<div class="bottom-buffer"></div>
<div class="row" >
  <div class="col-md-3" ng-repeat="station in assemblyLineInfo.stations">
    <div ng-class="{ current: ($index == stationNumber) }" id="square{{$index}}"></div>
    <div align="center">{{station.name}}</div>
    <div class="top-buffer" ng-if="$index <= stationNumber">
      <timer id="station-timer-{{$index}}" interval="1000">{{minutes}} minutes, {{seconds}} seconds.</timer>
    </div>
  </div> <!--col md 3 -->
</div> <!--div class row -->

<button class="btn btn-success" ng-click="startTimer()" ng-disabled="timerRunning">Start Simulation</button>
<button class="btn btn-primary glyphicon glyphicon-step-forward" ng-show="stationNumber < stationCount - 1 && timerRunning" ng-click="nextStation()"></button>
<button class="btn btn-danger pull-right" ng-click="stopTimer()" ng-disabled="!timerRunning">Finish Simulation</button>

<div class="counter-container">
  <h3>
    <timer ng-model="simulationTimer" auto-start="false" interval="1000" ng-show="stationNumber >= 0">{{minutes}} minutes, {{seconds}} seconds.</timer>
  </h3>
</div>

<a class="btn btn-primary" ng-show="simulationRegistered" ng-href="#/assemblyLine/{{assemblyLineId}}/simulationResults">Show simulation results</a>
