<div  class="container-fluid">
  <div id="success-anchor" class="anchor">
    <div id="success-message" class="alert alert-success" role="alert" ng-show="isSaved">
      <strong>Well done!</strong> You successfully created the assembly line <strong>{{newAls.name}}</strong>. You will now be <strong>redirected</strong> to the list of ALS.
    </div>
  </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <form name='newAlsForm' role="form">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" placeholder="Enter the name of the Assembly Line" ng-model="newAls.name">

            <label for="dropdownMenu1">Icon</label>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"> <span ng-hide="newAls.icon">Select Icon</span> <span class="glyphicon glyphicon-{{newAls.icon}}"></span> {{selectedIconName}}
                <span class="caret"></span>
              
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="icon in icons" ng-click="selectIcon(icon)">
                  <span class="glyphicon glyphicon-{{icon.glypName}}"></span>{{icon.name}}
                </li>

              </ul>   
            </div>

          </div>
          <div class="als-stations container-fluid" >
            <div class="panel panel-primary">
              <div class="panel-body">
                <als-stations stations="newAls.stations"></als-stations>
              </div>
            </div>
          </div>

          <button class="btn btn-success" ng-click="createAls()">
            Create Assembly Line
          </button>
        </form>
      </div>
    </div>
</div>
